

.faq-item-general {
  border-left: 5px solid #9c27b0 !important;
}

.faq-item-socials {
  border-left: 5px solid #8bc34a !important;
}

.faq-item-fixtures {
  border-left: 5px solid #00bcd4 !important;
}

.faq-item-off_ice {
  border-left: 5px solid #795548 !important;
}

.faq-item-varsity {
  border-left: 5px solid #ff5722 !important;
}

.faq-item-other {
  border-left: 5px solid #607d8b !important;
}

.faq-item-Game {
  border-left: 5px solid #2196f3 !important;
}

.faq-item-Training {
  border-left: 5px solid #4caf50 !important;
}

.faq-item-Social {
  border-left: 5px solid #ffc107 !important;
}

.faq-item-Committee {
  border-left: 5px solid #F44336 !important;
}

.faq-item-Other {
  border-left: 5px solid #9C27B0 !important;
}


.label-general {
  background-color: #9c27b0 !important;
  color: #ffffff !important;
}

.label-socials {
  background-color: #8bc34a !important;
  color: #ffffff !important;
}

.label-fixtures {
  background-color: #00bcd4 !important;
  color: #ffffff !important;
}

.label-off_ice {
  background-color: #795548 !important;
  color: #ffffff !important;
}

.label-varsity {
  background-color: #ff5722 !important;
  color: #ffffff !important;
}

.label-other {
  background-color: #607d8b !important;
  color: #ffffff !important;
}


.label-Game {
  background-color: #2196f3 !important;
  color: #ffffff !important;
}

.label-Training {
  background-color: #4caf50 !important;
  color: #ffffff !important;
}

.label-Social {
  background-color: #ffc107 !important;
  color: #ffffff !important;
}

.label-Committee {
  background-color: #F44336 !important;
  color: #ffffff !important;
}

.label-Other {
  background-color: #9C27B0 !important;
  color: #ffffff !important;
}



.ibox-general {
  border-top: 5px solid #9c27b0 !important;
}

.ibox-socials {
  border-top: 5px solid #8bc34a !important;
}

.ibox-fixtures {
  border-top: 5px solid #00bcd4 !important;
}

.ibox-off_ice {
  border-top: 5px solid #795548 !important;
}

.ibox-varsity {
  border-top: 5px solid #ff5722 !important;
}

.ibox-other {
  border-top: 5px solid #607d8b !important;
}



body.fixed-nav #wrapper .navbar-static-side,
body.fixed-nav #wrapper #page-wrapper {
  margin-top: 50px !important;
}
