<template>
    <datepicker :inputClass="'form-control'" v-model="initVal" v-on:input="updateValue"></datepicker>
</template>

<script>
export default {
    name: 'mbdatepicker',
    props: ["value"],
    data () {
        return {
        	initVal:this.value,
   			formattedVal:""
        }
    },
    computed: {
	},
	methods: {
	    updateValue: function () {
	      	let date = new Date(this.initVal);
	    	let year = date.getFullYear();
		    let month = date.getMonth() + 1;
		    let day = date.getDate();
		    if(month < 10)
		    {
		    	month = "0" + month;
		    }
		    if(day < 10)
		    {
		    	day = "0" + day;
		    }
		    this.formattedVal = year+"-"+month+"-"+day;
      		this.$emit('input', this.formattedVal);
	    }
	}
};

</script>