//- Template Variable
//- ----------------------------------------------

$template: football;


//- Base
//- ----------------------------------------------

$font-family-base: 'Roboto', sans-serif;
$font-family-accent: 'Exo 2', sans-serif;
$base-font-size: 14px;
$base-line-height: 26px;
$font-size-mobile: 13px;
$line-height-mobile: 22px;
$body-font-weight: 400;


//- Colors
//- ----------------------------------------------

$color-primary: #ffdc11;
$color-primary-darken: #ffcc00;
$color-dark: #1e2024;
$color-dark-2: #1e2024; // not changed
$color-dark-lighten: #292c31;
$color-dark-lighten-2: #292c31; // not changed
$color-gray: #9a9da2;
$color-gray-2: #938fa4; // not changed
$color-gray-3: #7f7e8c; // not changed
$color-2: #31404b;
$color-3: #ff7e1f;
$color-4: #9a66ca;
$color-4-darken: #9a66ca; // not changed

$color-success:        #24d9b0;
$color-info:           #0cb2e2;
$color-warning:        #ff7e1f;
$color-danger:         #f34141;

$body-bg-color: $color-dark;
$body-font-color: $color-gray;
$body-font-color-inverse: $color-gray;

$link-color: $color-4-darken;
$link-decoration: $color-primary-darken;
$link-color-hover: $color-primary;
$link-decoration-hover: none;


//- Components
//- ----------------------------------------------

$padding-base-vertical:     12px;
$padding-base-horizontal:   16px;



//- Tables
//- ----------------------------------------------

$table-cell-padding:            13px;
$table-cell-padding-lg:         17px;
$table-condensed-cell-padding:  5px;
$table-bg:                      transparent;
$table-bg-accent:               #f9f9f9;
$table-bg-hover:                $color-dark-lighten;
$table-bg-active:               $table-bg-hover;

$table-border-color:            $color-2;
$table-thead-color:             #fff;
$table-thead-bg-color:          $color-dark-lighten-2;
$table-highlight:               #fff;


//- Buttons
//- ----------------------------------------------

$btn-font-weight:                700;
$btn-font-family:                $font-family-accent;
$btn-text-transform:             uppercase;

// Border Radius
$btn-border-radius:              4px;
$btn-border-radius-lg:           4px;
$btn-border-radius-sm:           4px;
$btn-border-radius-xs:           2px;

// Font Size
$btn-border-font-size:           12px;
$btn-border-font-size-lg:        14px;
$btn-border-font-size-sm:        12px;
$btn-border-font-size-xs:        9px;

// Button Default
$btn-default-color:              #fff;
$btn-default-bg:                 $color-gray-2;
$btn-default-hover:              $color-primary;
$btn-default-border:             transparent;

// Button Default - Alternative
$btn-default-alt-color:          #fff;
$btn-default-alt-bg:             $color-2;
$btn-default-alt-hover:          $color-gray-2;
$btn-default-alt-border:         transparent;

// Button Primary
$btn-primary-color:              #fff;
$btn-primary-bg:                 $color-2;
$btn-primary-hover:              $color-primary;
$btn-primary-border:             transparent;

// Button Primary Inverse
$btn-primary-inverse-color:      #fff;
$btn-primary-inverse-bg:         $color-primary;
$btn-primary-inverse-hover:      lighten($color-primary, 7%);
$btn-primary-inverse-border:     transparent;

// Button Success
$btn-success-color:              #fff;
$btn-success-bg:                 $color-4-darken;
$btn-success-hover:              darken($color-4-darken, 3%);
$btn-success-border:             transparent;

// Buttons Outline
$btn-o-default-color:            #fff;
$btn-o-default-color-hover:      #fff;
$btn-o-default-border:           $color-gray-3;
$btn-o-default-border-hover:     $color-4;
$btn-o-default-bg-hover:         transparent;

$btn-o-primary-color:            #fff;
$btn-o-primary-color-hover:      #fff;
$btn-o-primary-border:           $color-gray-3;
$btn-o-primary-border-hover:     $btn-primary-hover;
$btn-o-primary-bg-hover:         transparent;

$btn-o-inverse-color:            #fff;
$btn-o-inverse-color-hover:      #fff;
$btn-o-inverse-border:           #fff;
$btn-o-inverse-border-hover:     $btn-primary-hover;
$btn-o-inverse-bg-hover:         $btn-primary-hover;


//- Typography
//- ----------------------------------------------

$font-size-h1: 42px;
$font-size-h2: 36px;
$font-size-h3: 28px;
$font-size-h4: 24px;
$font-size-h5: 22px;
$font-size-h6: 16px;

$headings-font-family:   $font-family-accent;
$headings-color:         #fff;
$headings-color-inverse: $color-dark;

$font-style-h1: italic;
$font-style-h2: normal;
$font-style-h3: italic;
$font-style-h4: italic;
$font-style-h5: italic;
$font-style-h6: normal;

$text-transform-h1: uppercase;
$text-transform-h2: uppercase;
$text-transform-h3: uppercase;
$text-transform-h4: uppercase;
$text-transform-h5: none;
$text-transform-h6: uppercase;

$line-height-base:        1.733333; // 26/15

// OL
$ol-number-color: #fff;

// Thumb
$thumb-border-radius: 4px;


//- Forms
//- ----------------------------------------------

$input-label-color:       #fff;
$input-bg:                $color-dark-lighten;
$input-color:             $body-font-color;
$input-height-base:       52px;
$input-border:            rgba(255,255,255,.05);
$input-border-radius:     4px;
$input-font-size:         $base-font-size;

$input-bg-disabled:       $color-dark-2;
$input-border-disabled:   transparent;

$input-color-focus:       $body-font-color;
$input-bg-focus:          $input-bg;
$input-border-focus:      $color-3;
$input-box-shadow-focus:  none;

$input-color-placeholder: rgba(127,126,140,0.6);

$form-group-margin-bottom: 22px;

$input-height-base-sm:   45px;
$input-font-size-sm:     13px;

// Checkbox
$checkbox-bg:               $input-bg-disabled;
$checkbox-border:           $color-2;
$checkbox-border-radius:    2px;
$checkbox-bg-active:        $color-primary;
$checkbox-border-active:    $color-primary;
$checkbox-bg-disabled:      $color-gray-3;
$checkbox-border-disabled:  $color-gray-3;

// Radio Button
$radio-bg:               $input-bg-disabled;
$radio-border:           $color-2;
$radio-bg-disabled:      $color-gray-3;
$radio-border-disabled:  $color-gray-3;

// Select
$select-caret:           url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 4'%3E%3Cpath transform='translate(-586.156 -1047.28)' fill='%23ffffff' d='M586.171,1048l0.708-.71,2.828,2.83-0.707.71Zm4.95-.71,0.707,0.71L589,1050.83l-0.707-.71Z'/%3E%3C/svg%3E");


//- Tooltips
//- ----------------------------------------------

//** Tooltip text color
$tooltip-color:               #fff;
$tooltip-bg:                  $color-2;
$tooltip-opacity:             1;

$tooltip-arrow-width:         5px;
$tooltip-arrow-color:         $tooltip-bg;


//- Form states and alerts
//- ----------------------------------------------

$state-success-text:             $color-success;
$state-success-bg:               $color-dark;
$state-success-border:           rgba(255,255,255,.05);

$state-info-text:                $color-info;
$state-info-bg:                  $color-dark;
$state-info-border:              rgba(255,255,255,.05);

$state-warning-text:             #ff7e1f;
$state-warning-bg:               $color-dark;
$state-warning-border:           rgba(255,255,255,.05);

$state-danger-text:              $color-danger;
$state-danger-bg:                $color-dark;
$state-danger-border:            rgba(255,255,255,.05);


//- Labels
//- ----------------------------------------------

$label-default-bg:            $color-gray;
$label-primary-bg:            $color-primary;
$label-success-bg:            $color-success;
$label-info-bg:               $color-info;
$label-warning-bg:            $color-warning;
$label-danger-bg:             $color-danger;

$label-color:                 #fff;
$label-link-hover-color:      #fff;


//- Modals
//- ----------------------------------------------

$modal-inner-padding:         15px;
$modal-title-padding:         15px;
$modal-title-line-height:     1.2em;
$modal-content-bg:                             #fff;
$modal-content-border-color:                   rgba(0,0,0,.2);
$modal-content-fallback-border-color:          #999;

$modal-backdrop-bg:           #000;
$modal-backdrop-opacity:      .9;
$modal-header-border-color:   #e5e5e5;
$modal-footer-border-color:   $modal-header-border-color;

$modal-lg:                    830px;
$modal-md:                    600px;
$modal-sm:                    300px;


//- Alerts
//- ----------------------------------------------

$alert-icon-width:            60px;

$alert-padding:               17px;
$alert-border-radius:         4px;
$alert-link-font-weight:      bold;
$alert-txt-accent-color:      $headings-color;

$alert-success-bg:            $state-success-bg;
$alert-success-icon-bg:       $state-success-text;
$alert-success-border:        $state-success-border;

$alert-info-bg:               $state-info-bg;
$alert-info-icon-bg:          $state-info-text;
$alert-info-border:           $state-info-border;

$alert-warning-bg:            $state-warning-bg;
$alert-warning-icon-bg:       $state-warning-text;
$alert-warning-border:        $state-warning-border;

$alert-danger-bg:             $state-danger-bg;
$alert-danger-icon-bg:        $state-danger-text;
$alert-danger-border:         $state-danger-border;


//- Progress Bars
//- ----------------------------------------------

$progress-bg:                 #4e4d73;
$progress-bar-color:          #fff;
$progress-border-radius:      3px;

$progress-bar-bg:             $color-primary;
$progress-bar-secondary-bg:   $color-4;
$progress-bar-success-bg:     #aaf20e;
$progress-bar-warning-bg:     $color-warning;
$progress-bar-danger-bg:      $color-danger;
$progress-bar-info-bg:        $color-info;

$progress-label-color:        #fff;


//- Circular Bar
//- ----------------------------------------------

$circular-bar-label-color:    $headings-color;


//- Card
//- ----------------------------------------------

$card-bg:                     $color-dark-lighten;
$card-header-bg:              transparent;
$card-subheader-bg:           rgba(255,255,255,.03);
$card-border-color:           rgba(255,255,255,.05);
$card-border-radius:          4px;
$card-horizontal-padding:     24px;
$card-vertical-padding:       24px;
$card-horizontal-padding-lg:  43px;
$card-vertical-padding-lg:    43px;
$card-horizontal-padding-xlg: 70px;
$card-vertical-padding-xlg:   70px;



//- Header
//- ----------------------------------------------

$header-bg: $color-dark;
$header-top-bg: $color-dark-lighten;
$header-secondary-bg: $color-dark;
$header-primary-bg: $color-dark-lighten;

// Top Bar
$top-bar-highlight:                 $color-primary;
$top-bar-text-color:                #6b6d70;
$top-bar-divider-color:             $top-bar-text-color;
$top-bar-dropdown-bg:               #fff;
$top-bar-dropdown-border:           #e4e7ed;
$top-bar-dropdown-shadow:           none;
$top-bar-dropdown-link-color:       rgba($color-2, 0.4);
$top-bar-dropdown-link-color-hover: $color-2;

// Info Block
$header-info-block-color:             $color-primary;
$header-info-block-cart-sum-color:    $color-primary;
$header-info-block-link-color-mobile: #6b6d70;

$header-info-block-color-mobile:             $color-primary;
$header-info-block-cart-sum-color-mobile:    $color-primary;

// Search Form
$header-search-width-desktop:       200px;
$header-search-width-desktop-lg:    320px;
$header-search-icon:                $color-primary;
$header-search-input-bg:            $color-dark-lighten;
$header-search-input-border:        $header-search-input-bg;
$header-search-input-bg-focus:      $color-dark-lighten;
$header-search-input-border-focus:  $header-search-input-bg-focus;

$header-search-input-bg-mobile:            $color-dark-lighten;
$header-search-input-border-mobile:        $header-search-input-bg-mobile;
$header-search-input-bg-focus-mobile:      $color-dark-lighten;
$header-search-input-border-focus-mobile:  $header-search-input-bg-focus-mobile;

// Mobile Header
$header-mobile-bg: $color-dark;
$header-mobile-height: 100px;
$header-mobile-logo-width: 92px;

// Nav
$nav-align:                left;
$nav-height:               62px;
$nav-font-family:          $font-family-accent;
$nav-text-transform:       uppercase;
$nav-font-weight:          700;
$nav-font-size:            12px;
$nav-font-color:           #fff;
$nav-font-color-hover:     #fff;
$nav-active-border-height: 4px;
$nav-active-border-color:  $color-primary;
$nav-active-border-pos:    top;
$nav-active-bg:            $color-dark-2;
$nav-item-divider:         1px solid $color-2;

// Submenu
$nav-sub-bg:               $color-dark-lighten;
$nav-sub-font-family:      $font-family-accent;
$nav-sub-text-transform:   uppercase;
$nav-sub-font-weight:      700;
$nav-sub-font-size:        11px;
$nav-sub-arrow:            "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 4'%3E%3Cpath transform='translate(-586.156 -1047.28)' fill='%23ffffff' d='M586.171,1048l0.708-.71,2.828,2.83-0.707.71Zm4.95-.71,0.707,0.71L589,1050.83l-0.707-.71Z'/%3E%3C/svg%3E";
$nav-sub-border-color:     $color-2;
$nav-sub-link-color:       #fff;
$nav-sub-hover-bg-color:   $color-dark;
$nav-sub-hover-link-color: $color-4;

// Megamenu
$nav-sub-megamenu-link-color:       $color-gray;
$nav-sub-megamenu-link-color-hover: $color-4;
$nav-sub-megamenu-title-color:      #fff;
$nav-sub-megamenu-post-title-color: #fff;

// Mobile Nav
$nav-mobile-width: 270px;
$nav-mobile-bg: $color-dark;
$nav-mobile-color: #fff;
$nav-mobile-border: $color-dark-lighten;
$nav-mobile-font-size: 11px;
$nav-mobile-sub-bg: $color-dark-lighten;
$nav-mobile-sub-color: $color-gray;

// Header Cart
$header-cart-width:                    360px;
$header-cart-bg:                       $color-dark-lighten;
$header-cart-border:                   $color-2;
$header-cart-product-name-color:       #fff;
$header-cart-product-name-color-hover: $color-4;
$header-cart-product-name-font-style:  normal;
$header-cart-product-sum-color:        #fff;
$header-cart-product-rating:           $color-4;
$header-cart-product-rating-empty:     #4e4d73;
$header-cart-subtotal-label:           #fff;
$header-cart-subtotal-sum:             $color-4;
$header-cart-product-close:            $color-gray-2;
$header-cart-thumb-border-radius:      4px;

// Pushy Panel
$pushy-toggle-icon-color: #fff;
$pushy-panel-width: 380px;
$pushy-panel-bg: #fff;
$pushy-panel-bg-dark: $color-dark-lighten;


//- Page Heading
//- ----------------------------------------------
$page-heading-padding-lg: 67px 0 63px 0;
$page-heading-bg-color: $color-dark;
$page-heading-bg-image-url: url("../images/football/page-heading.jpg");
$page-heading-bg-pattern-url: repeating-radial-gradient(center center, #000, #000 1px, transparent 1px, transparent 4px);
$page-heading-bg-pattern-size: 5px 5px;
$page-heading-bg-pattern-repeat: repeat;
$page-heading-bg-pattern-opacity: 1;
$page-heading-font-size: 36px;
$page-heading-font-highlight: $color-4;
$page-heading-font-style: normal;


//- Player Page Heading
//- ----------------------------------------------
$player-page-heading-bg-color: $color-dark;
$player-page-heading-bg-image-url: url("../images/football/player-page-heading.jpg");
$player-page-heading-bg-pattern-url: repeating-radial-gradient(center center, #000, #000 1px, transparent 1px, transparent 4px);
$player-page-heading-bg-pattern-opacity: 0.4;
$player-page-heading-bg-pattern-size: 5px 5px;
$player-page-heading-bg-pattern-repeat: repeat;

$player-page-heading-second-name: $color-4;
$player-page-heading-title: $body-font-color;


// Breadcrumbs
$breadcrumb-divider-color: $color-gray-3;
$breadcrumb-link-hover-color: $color-primary;
$breadcrumb-link-active-color: $color-gray-3;


//- Filter
//- ----------------------------------------------
$filter-bg:          $color-dark;
$filter-border:      $color-2;
$filter-label-color: $body-font-color;
$filter-color:       #fff;
$filter-caret:       "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 4'%3E%3Cpath transform='translate(-586.156 -1047.28)' fill='%23ffffff' d='M586.171,1048l0.708-.71,2.828,2.83-0.707.71Zm4.95-.71,0.707,0.71L589,1050.83l-0.707-.71Z'/%3E%3C/svg%3E";
$filter-dropdown-bg: $color-dark-lighten;
$filter-dropdown-border: $filter-border;
$filter-dropdown-color: $color-gray-3;
$filter-dropdown-color-hover: #fff;


//- Blog
//- ----------------------------------------------
$post-category-1: $color-primary;
$post-category-2: $color-3;
$post-category-3: $color-4-darken;

$post-title-color: #fff;
$post-title-color-hover: $color-4;
$post-title-font-style: italic;

$post-quote-bg:         $color-primary;
$post-quote-highlight:  #ffdc38;
$post-quote-font-style: italic;
$post-quote-footer-font-style: italic;


//- Sidebar
//- ----------------------------------------------
$sidebar-content-font-size:   13px;
$sidebar-content-line-height: 22px;


//- Single Post
//- ----------------------------------------------
$single-post-author-avatar-size:          100px;
$single-post-author-avatar-border-radius: 4px;

$single-post-3-image:                     url("../images/football/samples/single-post-img25.jpg");


//- Pagination
//- ----------------------------------------------
$pagination-bg:               $color-dark;
$pagination-color:            #fff;
$pagination-border:           $color-2;
$pagination-bg-hover:         $color-primary;
$pagination-color-hover:      #fff;
$pagination-border-hover:     $color-primary;
$pagination-bg-active:        $color-primary;
$pagination-color-active:     #fff;
$pagination-border-active:    $color-primary;


//- Content Filter
//- ----------------------------------------------
$content-filter-bg:              $filter-bg;
$content-filter-border:          $filter-border;
$content-filter-color:           $color-gray-3;
$content-filter-color-hover:     #fff;


//- Team
//- ----------------------------------------------
$team-select-color: #fff;
$team-select-arrow: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 4'%3E%3Cpath transform='translate(-586.156 -1047.28)' fill='%23ffffff' d='M586.171,1048l0.708-.71,2.828,2.83-0.707.71Zm4.95-.71,0.707,0.71L589,1050.83l-0.707-.71Z'/%3E%3C/svg%3E");


//- Shop
//- ----------------------------------------------
$shop-price-filter-bar-color: $color-primary;
$shop-price-filter-handle-color: $color-gray-2;

$product-color-1: linear-gradient(to left top, #fe2b00, #f7d500);
$product-color-2: linear-gradient(to left top, #003e78, #33fff3);
$product-color-3: linear-gradient(to left top, #00adbd, #7cffd0);
$product-color-4: linear-gradient(to left top, #3f1464, #dd2f8d);
$product-color-5: linear-gradient(to left top, #140078, #4dcbff);
$product-color-6: linear-gradient(to left top, #006f3f, #bdff3d);

$product-rating-color:          $color-4;
$product-rating-color-disabled: #4e4d73;

$shop-layout-filter-color:        #4e4d73;
$shop-layout-filter-color-active: $color-4;


//- Footer
//- ----------------------------------------------
$footer-widgets-bg:        $color-dark-2;
$footer-secondary-bg:      $color-dark-2;
$footer-secondary-side-bg: $color-primary;
$footer-font-size:         13px;
$footer-line-height:       22px;
$footer-font-color:        $body-font-color;

// Footer Widgets
$footer-widget-title:            #fff;
$footer-widget-title-font-size:  14px;
$footer-widget-title-font-style: normal;
$footer-widget-title-margin:     2.4em;

$footer-widget-post-title-font-style: italic;
$footer-widget-post-title-line-height: 1.17em;
$footer-widget-post-thumb-border-radius: 4px;

// Footer Info Section
$footer-info-bg:        $color-dark-2;

// Contact Form
$footer-widget-contact-form-input-bg:     #232335;
$footer-widget-contact-form-input-border: #232335;

// Footer Copyright
$footer-copyright-font-size:    10px;
$footer-copyright-border-size:  1px;
$footer-copyright-border-style: solid;
$footer-copyright-border-color: $color-2;

$footer-copyright-padding:           24px;
$footer-copyright-padding-lg:        50px;
$footer-copyright-link-color:        #fff;
$footer-copyright-link-color-active: $color-4;

// Footer Nav
$footer-nav-font-size:    12px;
$footer-nav-font-size-sm: 10px;
$footer-nav-color:        #fff;
$footer-nav-color-active: $color-4;


//- SVG Icon
//- ----------------------------------------------
$svg-stroke: $color-4;
$footer-contact-info-icon-color: $color-4;


//- Info Block
//- ----------------------------------------------
$info-block-link-color: $color-gray-3;


//- Icobox
//- ----------------------------------------------
$icobox-icon-border-color: #595772;
$icobox-icon-color-primary: $color-primary;
$icobox-icon-color-secondary: $color-4;
$icobox-title-font-size: 22px;
$icobox-title-font-style: italic;
$icobox-title-text-transform: none;


//- Timeline
//- ----------------------------------------------
$timeline-marker-color: $color-4;
$timeline-marker-line-color: #4e4d73;


//- noUI Range Slider
//- ----------------------------------------------
$range-bg-color: #dbdfe6;


//- Widget
//- ----------------------------------------------
$widget-decor-color-1: rgba(236, 240, 246, .6);
$widget-decor-color-2: rgba(0,0,0,.1);
$widget-decor-color-3: rgba(0,0,0,.11);


//- Preloader
//- ----------------------------------------------
$preloader-bg: $color-dark-2;
$preloader-percent-color: #fff;
$preloader-percent-accent-color: $color-4;
$preloader-loading-txt: "Loading...";
$preloader-title: "Alchemists Template";

// For generating grid via class
$grid-gutter-width: 16px;
