<template>
	<!-- Featured News -->
	<div class="card card--clean mb-0">
	  <header class="card__header card__header--has-btn">
	    <h4>Featured News</h4>
	  </header>
	  <div class="card__content">

	    <!-- Slider -->
	    <div class="slick posts posts-slider posts--slider-var-width">

	      <div class="slick__slide">

	        <div class="row">
	          <div class="col-md-12">

	            <div class="posts__item posts__item--desc-center posts__item--category-1">
	              <a :href="'news/'+data.id" class="posts__link-wrapper">
	                <figure class="posts__thumb">
	                  <img src="images/football/samples/post-slide30.jpg" alt="" class="duotone-img" data-gradient-map="#282840, #f92552">
	                </figure>
	                <div class="posts__inner">
	                  <div class="posts__cat">
	                    <span :class="'label posts__cat-label label-' + data.type.colour">{{data.type.name}}</span>
	                  </div>
	                  <h3 class="posts__title">{{data.subject}}</h3>
	                  <div class="post-author">
	                    <figure class="post-author__avatar">
	                      <img :src="data.user.avatarPath" alt="">
	                    </figure>
	                    <div class="post-author__info">
	                      <time class="posts__date">{{ moment(data.updated_at, "YYYY-MM-DD HH:mm:ss").calendar() }}</time>
	                    </div>
	                  </div>
	                </div>
	              </a>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</template>

<style>
	.posts__item--desc-center .posts__inner {
	    position: absolute;
	    top: 20%;
	    left: 10%;
	    -webkit-transform: none;
	    transform: none;
	    right: auto;
	    background: none;
	    text-align: center;
	    width: 80%;
	    padding: 0;
	    z-index: 2;
	}
</style>

<script>
export default {
    name: 'featurednews',
    props: ["data"],
    data () {
        return {
        };
    },
    computed: {
	},
	methods: {
	},
	created: function () {
  	}
};
</script>