<template>
<!-- Widget: Standings -->
    <aside class="widget card widget--sidebar widget-standings">
      <div class="widget__title card__header card__header--has-btn">
        <h4>{{title}}</h4>
      </div>
      <div class="widget__content card__content">
        <div class="table-responsive">
          <table class="table table-hover table-standings">
            <thead>
              <tr>
                <th>Team</th>
                <th>GP</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>Pts</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="row in data">
                <td>
                  <div class="team-meta"> 
                    <div class="team-meta__info">
                      <h6 class="team-meta__name" v-bind:class="{ 'text-primary': (row['Team'].indexOf('Sheffield Bears') > -1)}">{{row['Team']}}</h6> 
                    </div>
                  </div>
                </td>
                <td>{{row['GP']}}</td>
                <td>{{row['W']}}</td>
                <td>{{row['D']}}</td>
                <td>{{row['L']}}</td>
                <td>{{row['Pts']}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </aside>
    <!-- Widget: Standings / End -->

</template>

<script>
export default {
    name: 'leaguetable',
    props: ["data","title"],
    data () {
        return {
        };
    },
    computed: {
	},
	methods: {
	},
	created: function () {
  	}
};
</script>