<template>

    <!-- Widget: Game Result -->
    <aside class="widget card widget--sidebar widget-game-result">
      <div class="widget__title card__header card__header--has-toggle">
        <h4>Last Game Results</h4>
        <div class="switch">
          <span class="switch__label-txt" data-text-expand="Expand Stats" data-text-shrink="Shrink Stats">Expand Stats</span>
          <input id="expand-stats" class="switch-toggle" type="checkbox">
          <label for="expand-stats"></label>
        </div>
      </div>
      <div class="widget__content card__content">
        <!-- Game Score -->
        <div class="widget-game-result__section">
          <div class="widget-game-result__section-inner">
            <header class="widget-game-result__header widget-game-result__header--alt">
              <h3 class="widget-game-result__title">West League 2017 - Final Score</h3>
              <time class="widget-game-result__date" datetime="2017-16-10">Sunday, October 16</time>
            </header>
    
            <div class="widget-game-result__main widget-game-result__main--vertical">
              <!-- 1st Team -->
              <div class="widget-game-result__team widget-game-result__team--first">
                <figure class="widget-game-result__team-logo">
                  <a href="#"><img src="images/football/logos/alchemists-59x72.png" alt=""></a>
                </figure>
                <div class="widget-game-result__team-info">
                  <h5 class="widget-game-result__team-name">The Alchemists</h5>
                  <div class="widget-game-result__team-desc">4-1, 2-0, Away</div>
                </div>
                <div class="widget-game-result__team-score widget-game-result__team-score--winner">33</div>
              </div>
              <!-- 1st Team / End -->
    
              <!-- 2nd Team -->
              <div class="widget-game-result__team widget-game-result__team--second">
                <figure class="widget-game-result__team-logo">
                  <a href="#"><img src="images/football/logos/clover-71x62.png" alt=""></a>
                </figure>
                <div class="widget-game-result__team-info">
                  <h5 class="widget-game-result__team-name">Lucky Clovers</h5>
                  <div class="widget-game-result__team-desc">0-5, 0-2, Home</div>
                </div>
                <div class="widget-game-result__team-score">13</div>
              </div>
              <!-- 2nd Team / End -->
            </div>
          </div>
        </div>
        <!-- Game Score / End -->
    
        <!-- Scoreboard -->
        <div class="widget-game-result__section">
          <div class="widget-game-result__table-stats">
            <div class="table-responsive">
              <table class="table table__cell-center table-thead-color">
                <thead>
                  <tr>
                    <th>Scoreboard</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>T</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Alchemists</th>
                    <td>16</td>
                    <td>7</td>
                    <td>7</td>
                    <td>3</td>
                    <td>33</td>
                  </tr>
                  <tr>
                    <th>Lucky Clovers</th>
                    <td>7</td>
                    <td>0</td>
                    <td>0</td>
                    <td>6</td>
                    <td>13</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Scoreboard / End -->
    
        <!-- Game Statistics -->
        <div class="widget-game-result__section">
          <header class="widget-game-result__subheader card__subheader card__subheader--sm card__subheader--nomargins">
            <h5 class="widget-game-result__subtitle">Game Statistics</h5>
          </header>
          <div class="widget-game-result__section-inner">
    
            <!-- Progress: Ball Possesion -->
            <div class="progress-double-wrapper">
              <h6 class="progress-title">Ball Possesion</h6>
              <div class="progress-inner-holder">
                <div class="progress__digit progress__digit--left progress__digit--highlight progress__digit--38">64%</div>
                <div class="progress__double">
                  <div class="progress progress--battery">
                    <div class="progress__bar progress__bar-width-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress progress--battery">
                    <div class="progress__bar progress__bar--success progress__bar-width-40" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="progress__digit progress__digit--right progress__digit--38">36%</div>
              </div>
            </div>
            <!-- Progress: Ball Possesion / End -->
    
            <div class="widget-game-result__extra-stats">
    
              <!-- Progress: Total Yards -->
              <div class="progress-double-wrapper">
                <h6 class="progress-title">Total Yards</h6>
                <div class="progress-inner-holder">
                  <div class="progress__digit progress__digit--left progress__digit--highlight progress__digit--38">501</div>
                  <div class="progress__double">
                    <div class="progress progress--battery">
                      <div class="progress__bar progress__bar-width-80" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress progress--battery">
                      <div class="progress__bar progress__bar--success progress__bar-width-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="progress__digit progress__digit--right progress__digit--38">428</div>
                </div>
              </div>
              <!-- Progress: Total Yards / End -->
    
              <!-- Progress: 1st Downs -->
              <div class="progress-double-wrapper">
                <h6 class="progress-title">1st Downs</h6>
                <div class="progress-inner-holder">
                  <div class="progress__digit progress__digit--left progress__digit--38">17</div>
                  <div class="progress__double">
                    <div class="progress progress--battery">
                      <div class="progress__bar progress__bar-width-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress progress--battery">
                      <div class="progress__bar progress__bar--success progress__bar-width-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="progress__digit progress__digit--right progress__digit--highlight progress__digit--38">24</div>
                </div>
              </div>
              <!-- Progress: 1st Downs / End -->
    
              <!-- Progress: Turnovers -->
              <div class="progress-double-wrapper">
                <h6 class="progress-title">Turnovers</h6>
                <div class="progress-inner-holder">
                  <div class="progress__digit progress__digit--left progress__digit--highlight progress__digit--38">2</div>
                  <div class="progress__double">
                    <div class="progress progress--battery">
                      <div class="progress__bar progress__bar-width-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress progress--battery">
                      <div class="progress__bar progress__bar--success progress__bar-width-30" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="progress__digit progress__digit--right progress__digit--38">1</div>
                </div>
              </div>
              <!-- Progress: Turnovers / End -->
    
            </div>
          </div>
        </div>
        <!-- Game Statistics / End -->
    
      </div>
    </aside>
    <!-- Widget: Game Result / End -->
</template>

<script>
export default {
    name: 'matchreport',
    data () {
        return {
        };
    },
    computed: {
	},
	methods: {
	},
	created: function () {
  	}
};
</script>