/*
File Name: 		custom.css
Description:  You can add your custom CSS here and it will overwrite template styles
*/

.widget-standings .table-standings > tbody > tr > td:first-child {
  padding-left: 15px;
}

.widget-standings .table-standings > tbody > tr > td:last-child {
  padding-right: 15px;
}



.site-content {
  padding: 30px 0;
}

@media (min-width: 992px) {
  .site-content {
    padding: 30px 0;
  }
}