<template>
	<div></div>
</template>

<script>
export default {
    name: 'reportviewchart',
    props: ["graphic"],
    data () {
        return {
        };
    },
    computed: {
	},
	methods: {
	    updateChart()
	    {
            var options = this.getDefaultOptions();
            options.chart.type = this.graphic.type;

            switch(this.graphic.type)
            {
                case "bar":
                    options = this.buildBar(options);
                    break;
                case "pie":
                    options = this.buildPie(options);
                    break;
                case "line":
                    options = this.buildLine(options);
                    break;
            }

            Highcharts.chart(this.$el, options);
	    },
        getDefaultOptions()
        {
            return {
                chart: {
                    type: ''
                },
                title: {
                    text: ''
                },
                tooltip: { 
                    valueSuffix: '' 
                },
                xAxis: {
                    categories: [],
                    title: { 
                        text: ''
                    }
                },
                yAxis: {
                    stops: [],
                    min: 0,
                    max: null,
                    title: { 
                        text: ''
                    }
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                series: []
            }
        },
        convertDataToNumber(data)
        {
            for(var i=0;i<data.length; i++)
            {
                data[i] = Number(data[i]);
            }
            return data
        },
        buildBar(options)
        {
            options.series = [{name:this.graphic.parameters[0].value.field,data:this.convertDataToNumber(this.graphic.data.series)}];
            options.xAxis.categories = this.graphic.data.categories;

            if(this.graphic.data.threshold != null)
            {
                options.yAxis.minRange = Number(this.graphic.data.threshold);
                options.yAxis.plotLines = [{
                    value: this.graphic.data.threshold,
                    color: 'green',
                    dashStyle: 'shortdash',
                    width: 2,
                    label: {
                        text: 'Threshold'
                    }
                }];
            }
            return options;
        },
        buildPie(options)
        {
            var values = this.convertDataToNumber(this.graphic.data.series) // array of numbers
            var data = [];
            for(var i=0;i<values.length; i++)
            {
                data[i] = { name: this.graphic.data.categories[i] , y: values[i] };
            }
            options.series = [{name:this.graphic.parameters[0].value.field,data:data}]; // data var is an array of name, y objects
            return options;
        },
        buildLine(options)
        {
            var series = [];
            for(var i=0;i<this.graphic.data.series.length; i++)
            {
                series[i] = { name: this.graphic.data.series[i].name , data: this.convertDataToNumber(this.graphic.data.series[i].data) };
            }
            options.series = series;
            options.xAxis.categories = this.graphic.data.categories;

            if(this.graphic.data.threshold != null)
            {
                options.yAxis.minRange = Number(this.graphic.data.threshold);
                options.yAxis.plotLines = [{
                    value: this.graphic.data.threshold,
                    color: 'green',
                    dashStyle: 'shortdash',
                    width: 2,
                    label: {
                        text: 'Threshold'
                    }
                }];
            }
            return options;
        }
	},
	watch: {
	    graphic(newGraphic) {
	    	this.updateChart();
	    }
  	},
  	mounted() {
		this.updateChart();
    },
};
</script>