<template>
	<tr>
		<td><label><input type="checkbox" class="minimal" v-if="data.required==false" v-model="data.selected"></label></td>
		<td>{{data.label}}</td>
		<td><label><input type="checkbox" class="minimal" v-model="data.fixed_value"></label></td>

		<td v-if="data.type=='string'">
			<input type="text" class="form-control" v-model="data.preset_value">
		</td>

		<td v-if="data.type=='number'">
			<input type="text" class="form-control" v-model="data.preset_value">
		</td>

		<td v-if="data.type=='time'">
			<span>NOT DONE YET</span>
		</td>

		<td v-if="data.type=='date'">
			<mbdatepicker v-model="data.preset_value"></mbdatepicker>
		</td>

		<td v-if="data.type=='datetime'">
			<span>NOT DONE YET</span>
		</td>

		<td v-if="data.type=='select'">
			<select class="form-control" v-model="data.preset_value">
				<option v-for="choice in modelList[data.model]" v-bind:value="choice">
					{{ choice }}
				</option>
			</select>
		</td>

	</tr>
</template>

<script>
export default {
    name: 'reporterdataparameter',
    props: ["data","reportTree","reportList","modelList"],
    data () {
        return {
        }
    },
    computed: {
	},
	methods: {
	}
};

</script>