<template>
	<div class="row"><div class="col-md-12"><div class="box box-warning">
		<div class="box-header with-border">
			<h3 class="box-title">{{data.name}}</h3>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				<button type="button" class="btn btn-box-tool" data-widget="remove" @click="remove"><i class="fa fa-times"></i></button>
			</div>
		</div>
		<div class="box-body" style="display: block;">
			<div class="form-group">
				<label>Input Data Name</label>
				<input type="text" class="form-control" placeholder="Enter name" v-model="data.name">
			</div>
			<div class="form-group">
				<label>Select Request Type</label>
				<select class="form-control" v-model="data.type" @change="changeType">
					<option v-for="option in reportList" v-bind:value="option.value">
						{{ option.text }}
					</option>
				</select>
			</div>
			<div class="form-group">
				<label>Select Report Parameters</label>
				<table id="fields-table" class="table table-bordered table-striped">
					<thead>
						<th>Use Filter</th>
						<th>Filter Name</th>
						<th>Fixed Value</th>
						<th>Preset Value</th>
					</thead>
					<tbody>
						<reporterdataparameter v-for="option in data.parameters" :data="option" :reportTree="reportTree" :reportList="reportList" :modelList="modelList"></reporterdataparameter>
					</tbody>
				</table>
			</div>
		</div>
	</div></div></div>
</template>

<script>
export default {
    name: 'reporterdata',
    props: ["data","reportTree","reportList","modelList"],
    data () {
        return {
        };
    },
    computed: {
	},
	methods: {
		remove() {
			this.data.exists = false;
		},
		changeType() {
			this.data.parameters = _.cloneDeep(this.reportTree[this.data.type]['parameters']);
		}
	}
};
</script>