<template>
	<form role="form" @submit.prevent="onSubmit">
	    <div class="row"><div class="col-md-12"><div class="box box-solid">
	        <div class="box-header">
	        	<h3 class="box-title">General</h3>
	        </div>
	        <div class="box-body">              
				<div class="form-group">
					<label class="control-label">Report Definition Name</label>
					<input type="text" class="form-control" placeholder="Enter name" v-model="name">
				</div>
				</div>
	    </div></div></div>

		<div class="row"><div class="col-lg-6"><div class="box box-solid">
	        <div class="box-header">
	        	<h3 class="box-title">Data</h3>
	        </div>
	        <div class="box-body">
				<reporterdata  v-for="data in datas" :data="data" :reportTree="reportTree" :reportList="reportList" :modelList="modelList"></reporterdata>
			</div>
			<div class="box-footer">
				<button type="button" class="btn btn-block btn-warning" @click="addData">Add Data</button>
			</div>
    	</div></div>
    	<div class="col-lg-6"><div class="box box-solid">
	        <div class="box-header">
	        	<h3 class="box-title">Graphic</h3>
	        </div>
	        <div class="box-body">
				<reportergraphic  v-for="graphic in graphics" :graphic="graphic" :datas="datas" :reportTree="reportTree" :graphicTree="graphicTree" :graphicList="graphicList"></reportergraphic>
			</div>
			<div class="box-footer">
				<button type="button" class="btn btn-block btn-success" @click="addGraphic">Add Graphic</button>
			</div>
    	</div></div></div>
	    
	    <div class="row">
	        <div class="col-md-12">
	          <div class="box box-solid">
	            <div class="box-body">
	            	<button type="submit" class="btn btn-block btn-primary" id="submitButton">Submit</button>
	            </div>
	          </div>
	        </div>
	    </div>
	</form>
</template>

<script>
export default {
    name: 'reporteredit',
    data () {
        return {
        	id:null,
  			name:'',
  			datas:[],
  			graphics:[],
  			reportTree:reporter_reportTree,
  			graphicTree:reporter_graphicTree,
  			reportList:_.map(_.mapValues(reporter_reportTree, (value, key) => { return {value:key,text:value.label}; })),
  			graphicList:_.map(_.mapValues(reporter_graphicTree, (value, key) => { return {value:key,text:value.label}; })),
  			modelList:{}
        };
    },
    computed: {
	},
	methods: {
		onSubmit() {
			var data = this.extractRequiredData();	
			axios.post('/api/definition/edit', {
				id: data.id,
				name: data.name,
				datas: data.datas,
				graphics: data.graphics,
			})
			.then(function (response) {
				if(response.data == "success")
				{
					$('#submitButton').attr("disabled","disabled");
					swal({ title: "Success", type: "success", showCancelButton: false, allowEscapeKey: false },function(isConfirm){window.location.href = "/";});
				}
				else
				{
					swal({ title: "Error", text:  response.data, type: "error", showCancelButton: false, allowEscapeKey: false });
				}
			})
			.catch(function (error) {
				swal({ title: "Error", text: error, type: "error", showCancelButton: false, allowEscapeKey: false });
			});
		},
		addData() {
			this.datas.push({name:'',type:'',parameters:[],exists:true});
		},
		addGraphic() {
			this.graphics.push({name:'',type:'',parameters:[],exists:true});
		},
		fetchModelList() {
			var self = this;
			axios.get('/api/data/getModelLists')
			.then(function (response) {
				self.modelList = response.data;
			})
			.catch(function (error) {
				console.log(error);
			});
		},
		extractRequiredData() {
			var data = { name:this.name, id:this.id };
			data.datas = [];
			for(var i=0;i<this.datas.length;i++)
			{
				if(this.datas[i].exists == true)
				{
					var d = _.cloneDeep(this.datas[i]);
					var ps = [];
					for(var para=0; para<d.parameters.length;para++)
					{
						if(d.parameters[para].required == true || d.parameters[para].selected == true)
						{
							ps.push(d.parameters[para]);
						}
					}
					d.parameters = ps;
					data.datas.push(d);
				}
			}
			data.graphics = [];
			for(var i=0;i<this.graphics.length;i++)
			{
				if(this.graphics[i].exists == true)
				{
					data.graphics.push(this.graphics[i]);
				}
			}
			return data;
		}
	},
    mounted() {
    	swal({title: "Loading Definition",type: "info",showConfirmButton: false,allowEscapeKey: false});
        var app = this;
        axios.get('/api'+window.location.pathname)
        .then(function (response) { 
            const data = response.data;
            app.id = data.id;
            app.name = data.name;
            app.datas = data.datas;
            app.graphics = data.graphics;
            for(var i=0;i<app.graphics.length;i++)
            {
                app.graphics[i].parameters = JSON.parse(app.graphics[i].parameters);
                app.graphics[i].exists = true;
            }
            for(var i=0;i<app.datas.length;i++)
            {
                var configured_params = JSON.parse(app.datas[i].parameters);
                app.datas[i].parameters = _.cloneDeep(app.reportTree[app.datas[i].type]["parameters"]);
	            for(var j=0;j<app.datas[i].parameters.length;j++)
	            {
	            	for(var k=0;k<configured_params.length;k++)
		            {
		                if(app.datas[i].parameters[j].label == configured_params[k].label)
		                {
		                	app.datas[i].parameters[j] = _.cloneDeep(configured_params[k]);
		                }
		            }
	            }
                app.datas[i].fields = _.cloneDeep(app.reportTree[app.datas[i].type]["fields"]);
                app.datas[i].exists = true;
            }
            swal.close();
        })
        .catch(function (error) { console.log(error); });
    },
	created: function () {
    	this.fetchModelList()
  	}
};
</script>