<template>
<div class="box">
	<div class="form-group">
		<label>{{ parameter.label }}</label>

		<template v-if="parameter.shape == 'grid'">
			<table class="table table-bordered table-striped">
				<thead>
					<th>Use Field</th>
					<th>Date Name</th>
					<th>Field Name</th>
				</thead>
				<tbody>
					<template v-if="parameter.source == 'request'">
						<tr v-for="field in fieldList">
							<td><label><input type="checkbox" class="minimal" v-model="parameter.value" v-bind:value="field" ></label></td>
							<td>{{field.data}}</td>
							<td>{{field.field}}</td>
						</tr>
					</template>
				</tbody>
			</table>
		</template>

		<template v-if="parameter.shape == 'column'">
			<select class="form-control" v-model="parameter.value">
				<template v-if="parameter.source == 'request'">
					<option v-for="field in fieldList" v-bind:value="field">
                        {{ field.data }} - {{ field.field }}
                    </option>
				</template>
			</select>
		</template>


		<template v-if="parameter.shape == 'cell'">

			<template v-if="parameter.source == 'request'">
				<select class="form-control" v-model="parameter.value">
					<option v-for="field in fieldList" v-bind:value="field">
                        {{ field.data }} - {{ field.field }}
                    </option>
				</select>
			</template>
			<template v-if="parameter.source == 'manual'">
				<input type="text" class="form-control" v-model="parameter.value">
			</template>
			<template v-if="parameter.source == 'either'">
				<input type="text" class="form-control" v-model="parameter.value">
			</template>

		</template>
	</div>

</div>
</template>

<script>
export default {
    name: 'reportergraphicparameter',
    props: ["parameter","datas","reportTree","graphicTree"],
    data () {
        return {
        };
    },
    computed: {
    	fieldList: function () {
    		var ml = [];
    		var reporttypes = [];
			for(var i=0; i<this.datas.length;i++)
			{
				if(this.datas[i].exists == true)
				{
					reporttypes.push({type:this.datas[i].type,name:this.datas[i].name});
				}
			}
			for(var rt=0; rt<reporttypes.length; rt++)
			{
				for(var i=0; i<this.reportTree[reporttypes[rt].type].fields.length; i++)
				{
					console.log("do something in here to make sure the user can only choose the correct field types");
					ml.push({ data:reporttypes[rt].name, type:this.reportTree[reporttypes[rt].type].fields[i].type, field:this.reportTree[reporttypes[rt].type].fields[i].text})
				}
			}
			return ml;
		},
    	colAggList: function () {
    		var list = [];
    		if(this.parameter.aggregator == true)
    		{
    			list.push("Count");
    			switch(this.parameter.value.type)
    			{
    				case "number":
    					list.push("Sum");
    					list.push("Average");
    					break;
    			}
    		}
			return list;
		},
    	cellAggList: function () {
    		var list = [];
    		if(this.parameter.aggregator == true)
    		{
    			list.push("Count");
    			list.push("Average Count");
    			switch(this.parameter.value.type)
    			{
    				case "number":
    					list.push("Sum");
    					list.push("Average");
    					list.push("Average Sum");
    					break;
    			}
    		}
			return list;
		}
	},
	methods: {
	}
};
</script>