<template>
	<div class="row"><div class="col-md-12"><div class="box box-success">
		<div class="box-header with-border">
			<h3 class="box-title">{{graphic.name}}</h3>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				<button type="button" class="btn btn-box-tool" data-widget="remove" @click="remove"><i class="fa fa-times"></i></button>
			</div>
		</div>
		<div class="box-body" style="display: block;">
			<div class="form-group">
				<label>Input Graphic Name</label>
				<input type="text" class="form-control" placeholder="Enter name" v-model="graphic.name">
			</div>
			<div class="form-group">
				<label>Select Graphic Type</label>
				<select class="form-control" v-model="graphic.type"  @change="changeType">
					<option v-for="option in graphicList" v-bind:value="option.value">
						{{ option.text }}
					</option>
				</select>
			</div>
			<div class="form-group">
				<label>Configure Graphic Parameters</label>
				<div class="row"><div class="col-md-12"><div class="box box-solid">
					<div class="box-body" style="display: block;">
	        			<template v-for="parameter in graphic.parameters">
	        				<reportergraphicparameter :parameter="parameter" :datas="datas" :reportTree="reportTree" :graphicTree="graphicTree"></reportergraphicparameter>
	        			</template>
        			</div>
				</div></div></div>
			</div>
		</div>
	</div></div></div>
</template>

<script>
export default {
    name: 'reportergraphic',
    props: ["graphic","datas","reportTree","graphicTree","graphicList"],
    data () {
        return {
        };
    },
    computed: {
	},
	methods: {
		remove() {
			this.graphic.exists = false;
		},
		changeType() {
			this.graphic.parameters = _.cloneDeep(this.graphicTree[this.graphic.type].parameters);
		}
	}
};
</script>